/*=============== BASE ===============*/

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*=============== NAV ===============*/

.nav-logo{
display: flexbox;

}